In [2]:
#Importing Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
movies=pd.read_csv("/content/drive/My Drive/NLP/Collaborative Filtering/dataset/movies.csv")
ratings=pd.read_csv("/content/drive/My Drive/NLP/Collaborative Filtering/dataset/ratings.csv")

In [5]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [7]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [8]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [10]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [11]:
#Merge Movies+Ratings
merged_df=pd.merge(movies,ratings,on='movieId')

In [12]:
merged_df.head(100)

    movieId             title  ... rating   timestamp
0         1  Toy Story (1995)  ...    4.0   964982703
1         1  Toy Story (1995)  ...    4.0   847434962
2         1  Toy Story (1995)  ...    4.5  1106635946
3         1  Toy Story (1995)  ...    2.5  1510577970
4         1  Toy Story (1995)  ...    4.5  1305696483
..      ...               ...  ...    ...         ...
95        1  Toy Story (1995)  ...    5.0   850865423
96        1  Toy Story (1995)  ...    5.0   853918728
97        1  Toy Story (1995)  ...    5.0   835861234
98        1  Toy Story (1995)  ...    4.0  1171410158
99        1  Toy Story (1995)  ...    5.0  1049076484

[100 rows x 6 columns]

In [13]:
#dropping unnecessary columns
data=merged_df.drop(["genres","timestamp"],axis=1)

In [14]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  100836 non-null  int64
 1   title    100836 non-null  object
 2   userId   100836 non-null  int64
 3   rating   100836 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

In [16]:
data.describe()

             movieId         userId         rating
count  100836.000000  100836.000000  100836.000000
mean    19435.295718     326.127564       3.501557
std     35530.987199     182.618491       1.042529
min         1.000000       1.000000       0.500000
25%      1199.000000     177.000000       3.000000
50%      2991.000000     325.000000       3.500000
75%      8122.000000     477.000000       4.000000
max    193609.000000     610.000000       5.000000

In [17]:
#check for null values & duplicates
print("Null values: ",data.isnull().sum().sum())
print("Duplicates: ",data.duplicated().sum())

Null values:  0
Duplicates:  0

In [18]:
#creat user item matrix
pivot_df=data.pivot_table(index='userId',values="rating",columns='title')
pivot_df.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN

[5 rows x 9719 columns]

In [19]:
#droping movies that has few user's rating to avoid noise and filling the NaNs with 0 for strandrize the data 
THRES=5
new_df=pivot_df.dropna(thresh=THRES,axis=1).fillna(0)

In [20]:
new_df.head()

title   'burbs, The (1989)  ...  ¡Three Amigos! (1986)
userId                      ...
1                      0.0  ...                    4.0
2                      0.0  ...                    0.0
3                      0.0  ...                    0.0
4                      0.0  ...                    0.0
5                      0.0  ...                    0.0

[5 rows x 3651 columns]

In [21]:
#creat similarity matrix using correlation method
similarty_matrix=new_df.corr(method="pearson")

In [22]:
similarty_matrix

title                              'burbs, The (1989)  ...  ¡Three Amigos! (1986)
title                                                  ...
'burbs, The (1989)                           1.000000  ...               0.353194
(500) Days of Summer (2009)                  0.063117  ...               0.125905
*batteries not included (1987)               0.235908  ...               0.234514
10 Cloverfield Lane (2016)                  -0.023768  ...               0.002733
10 Things I Hate About You (1999)            0.143482  ...               0.110612
...                                               ...  ...                    ...
[REC] (2007)                                -0.017905  ...              -0.022876
eXistenZ (1999)                              0.187953  ...               0.138611
xXx (2002)                                   0.062174  ...               0.065673
xXx: State of the Union (2005)              -0.014025  ...              -0.017917
¡Three Amigos! (1986)                        0.353194  ...               1.000000

[3651 rows x 3651 columns]

In [25]:
similarty_matrix[:100]

title                              'burbs, The (1989)  ...  ¡Three Amigos! (1986)
title                                                  ...
'burbs, The (1989)                           1.000000  ...               0.353194
(500) Days of Summer (2009)                  0.063117  ...               0.125905
*batteries not included (1987)               0.235908  ...               0.234514
10 Cloverfield Lane (2016)                  -0.023768  ...               0.002733
10 Things I Hate About You (1999)            0.143482  ...               0.110612
...                                               ...  ...                    ...
Aeon Flux (2005)                             0.004780  ...               0.005847
Affair to Remember, An (1957)                0.067262  ...               0.118491
African Queen, The (1951)                    0.140176  ...               0.142137
After Hours (1985)                           0.033724  ...               0.031954
After the Sunset (2004)                     -0.015389  ...               0.117227

[100 rows x 3651 columns]

In [158]:
#similar movies function
def Recommend(movie,rating):
  recommender=similarty_matrix[movie]*(rating-2.5)#in order to get recommendation right if the rating is low
  recommender=recommender.sort_values(ascending=False)
  return recommender[:10]

In [160]:
Recommend("Heat (1995)",5)

title
Heat (1995)                                                       2.500000
Rock, The (1996)                                                  1.057896
Casino (1995)                                                     1.021208
Rumble in the Bronx (Hont faan kui) (1995)                        0.969080
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)    0.963770
Desperado (1995)                                                  0.961390
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                         0.961036
Broken Arrow (1996)                                               0.940127
Platoon (1986)                                                    0.892726
Leaving Las Vegas (1995)                                          0.882522
Name: Heat (1995), dtype: float64

In [204]:
movies.head(50)

    movieId  ...                                       genres
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy
5         6  ...                        Action|Crime|Thriller
6         7  ...                               Comedy|Romance
7         8  ...                           Adventure|Children
8         9  ...                                       Action
9        10  ...                    Action|Adventure|Thriller
10       11  ...                         Comedy|Drama|Romance
11       12  ...                                Comedy|Horror
12       13  ...                 Adventure|Animation|Children
13       14  ...                                        Drama
14       15  ...                     Action|Adventure|Romance
15       16  ...                                  Crime|Drama
16       17  ...                                Drama|Romance
17       18  ...                                       Comedy
18       19  ...                                       Comedy
19       20  ...           Action|Comedy|Crime|Drama|Thriller
20       21  ...                        Comedy|Crime|Thriller
21       22  ...          Crime|Drama|Horror|Mystery|Thriller
22       23  ...                        Action|Crime|Thriller
23       24  ...                                 Drama|Sci-Fi
24       25  ...                                Drama|Romance
25       26  ...                                        Drama
26       27  ...                               Children|Drama
27       28  ...                                Drama|Romance
28       29  ...       Adventure|Drama|Fantasy|Mystery|Sci-Fi
29       30  ...                                  Crime|Drama
30       31  ...                                        Drama
31       32  ...                      Mystery|Sci-Fi|Thriller
32       34  ...                               Children|Drama
33       36  ...                                  Crime|Drama
34       38  ...                              Children|Comedy
35       39  ...                               Comedy|Romance
36       40  ...                                        Drama
37       41  ...                                    Drama|War
38       42  ...                           Action|Crime|Drama
39       43  ...                                        Drama
40       44  ...                     Action|Adventure|Fantasy
41       45  ...                        Comedy|Drama|Thriller
42       46  ...                                Drama|Romance
43       47  ...                             Mystery|Thriller
44       48  ...     Animation|Children|Drama|Musical|Romance
45       49  ...                                Drama|Romance
46       50  ...                       Crime|Mystery|Thriller
47       52  ...                         Comedy|Drama|Romance
48       53  ...                              Adventure|Drama
49       54  ...                              Children|Comedy

[50 rows x 3 columns]

In [200]:
#GETTING MOVIES RECOMMENDATION

#let's say we have a lot of movies all put together and we ask the user to add ratings to get recommendation,so we need to assign movie list with all the 
#the movies available with no respect to the genres, according to the user rating the system will act
def get_recommendation(movie_list):
  similar_movies=pd.DataFrame()
  for m,r in movie_list:
    similar_movies=similar_movies.append(Recommend(m,r),ignore_index=True)
  similar_movies.head()
  print(similar_movies.sum().sort_values(ascending=False)[:20])

In [210]:
#action movies recommendations
action_list=[("Braveheart (1995)",4),
            ("Rumble in the Bronx (Hont faan kui) (1995)",3.5),
            ("Grumpier Old Men (1995)",2),
            ("Toy Story (1995)",1),
            ("Usual Suspects, The (1995)",4),
             ("Clueless (1995)",1),
             ("Mortal Kombat (1995)",4.5)]
get_recommendation(movie_list=action_list)

Mortal Kombat (1995)                          2.000000
Braveheart (1995)                             1.500000
Usual Suspects, The (1995)                    1.500000
Rumble in the Bronx (Hont faan kui) (1995)    1.000000
Judge Dredd (1995)                            0.971665
Super Mario Bros. (1993)                      0.908903
Crow, The (1994)                              0.876135
Demolition Man (1993)                         0.820855
One, The (2001)                               0.777411
GoldenEye (1995)                              0.766909
Jurassic Park (1993)                          0.714002
Fugitive, The (1993)                          0.706408
Terminator 2: Judgment Day (1991)             0.705725
Pulp Fiction (1994)                           0.705511
Reservoir Dogs (1992)                         0.693265
True Lies (1994)                              0.686812
Batman Forever (1995)                         0.681620
Gremlins (1984)                               0.679415
Snakes on a Plane (2006)                      0.676378
Goodfellas (1990)                             0.662931
dtype: float64

In [212]:
#now trying the same movies but with diffrent rattings(not getting action movies recommendations)
comedy_list=[("Braveheart (1995)",2),
            ("Rumble in the Bronx (Hont faan kui) (1995)",1),
            ("Grumpier Old Men (1995)",4),
            ("Toy Story (1995)",4.5),
            ("Usual Suspects, The (1995)",2),
             ("Clueless (1995)",4),
             ("Mortal Kombat (1995)",1)]
get_recommendation(movie_list=comedy_list)

Toy Story (1995)                              2.000000
Clueless (1995)                               1.500000
Grumpier Old Men (1995)                       1.500000
Nutty Professor, The (1996)                   1.283347
Toy Story 2 (1999)                            0.923522
Groundhog Day (1993)                          0.723079
Independence Day (a.k.a. ID4) (1996)          0.716947
Willy Wonka & the Chocolate Factory (1971)    0.714627
Mission: Impossible (1996)                    0.705694
Bug's Life, A (1998)                          0.690862
Lion King, The (1994)                         0.688497
Babe (1995)                                   0.682272
Grumpy Old Men (1993)                         0.623170
Sleepless in Seattle (1993)                   0.618082
Striptease (1996)                             0.612223
Son in Law (1993)                             0.567903
Bio-Dome (1996)                               0.557907
Father of the Bride Part II (1995)            0.555256
Twister (1996)                                0.548073
Dave (1993)                                   0.545346
dtype: float64